*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



body{
    height: 100vh;
    /* width: 100vw; */
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 43%;
    background: rgb(51, 105, 255);
    background: url('./images/home-bg.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    
}
header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: #fff;
    /* font-family: 'Lobster', cursive; */
    font-weight: 700;
    text-shadow: 2px 2px #093a5f;   
}

#search{
    position: relative;
    width: 100%;
    height: 14%;
    text-align: center;
}
.drop-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 10px;
    border-radius: 4px;
}

select#genre {
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);    
    background-position: 97% center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: inherit;
    overflow: hidden;
    padding: 11px 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;  
    border: none;
    background-color: #3bb3e0;
 }
 button.search-events {
    background-color: #2561b4;
    background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    color: #fff;
    text-shadow: 1px 1px 0px #07526e;
    border-right: solid 1px #07526e;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding: 11px 25px;
    border: none;
    font-size: inherit;
    background-position: 97% center;
}

#container{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0% 4%;
    margin-bottom: 2%;
    height: 75%;
    background: #fff;
}

.left-col{
    overflow: scroll;
    display: inline-block;
    width: 70%;
    height: 100%;
    margin: 0 5px;
    background: #ebebeb;
    box-sizing: border-box; 
}
.firstScreen{
    width: 100%;
    padding: 30px;
}
.news-1 {
    position: relative;
    box-sizing: border-box;
}
.news-1 p{
    font-size: 0.9em;
    line-height: 1.6em;
}
.news-1 h1{
    margin-bottom: 10px;
    color: #13547a;
}
.news-1 img{
    width: 100%;
    margin-top: 20px;
}
.secondScreen{
    top: 0;
    position: absolute;
    width: 62.5%;
    height: 100%;
    border: 2px black solid;
}
.secondHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: .5%
}
.secondScreenTopContainer{
    border-radius: 5%;
    width: 55%;
    height: 50%;
    border: 2px solid black;
    margin: auto;   
    margin-top: 4%;
}
.bottomContainer {
    height: 100%;
    width: 100%;
    display: flex;
}
.secondScreenBottomContainer{
    border-radius: 50%;
    flex-direction: column;
    width: 30%;
    height: 30%;
    margin: 2% .5%;
}
.right-col{
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 0 5px;
    background: #fff;
    box-sizing: border-box; 
}

.events-lists {
    width: 100%;
    border-collapse: collapse;

}
.table-content > tr {
    text-align: center;
    background: #fff;
}
.table-content > tr > td {
    border-bottom: 2px solid #ddd;
}
thead > tr > th{
    padding:10px 0;
}
.event-info{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0% 4%;
    margin-bottom: 2%;
    height: 50%;
    background: #ebebeb;
    box-sizing: border-box;
    flex-direction: column;
}
.video{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0% 4%;
    margin-bottom: 2%;
    height: 49%;
    background: #5A5959;
    box-sizing: border-box;
}

.event-info > div {
    width: 100%;
    border: #ccc 1px solid;
    margin: 3% 0;
    padding: 8px;
}

.hidden {
    display: none;
}

.artistImages {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.secondHeader h1 {
    text-align: center;
    font-size: 2em;
}

.backButton {
    font-size: 4vh;
    margin-left: 2.5%
}